@import "variables.scss";

.main-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: $color-secondary;
  border-top: 6px solid $color-primary;
  z-index: 1;

  .face-shot {
    background-image: url("./../images/jiyonglookleft.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;

    mix-blend-mode: multiply;
    filter: grayscale(100%);
  }
}

.main {
  position: relative;
  z-index: 2;
  color: white;
  padding: 50px;

  .main-header {
    margin-top: 100px;
    font-family: $font-header-bold;
    font-size: 3.5em;

    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
      max-width: 40%;
    }
  }

  .main-secondary-header {
    font-family: $font-header-bold;
    font-size: 1.5em;
  }

  .main-p-text {
    margin-top: 50px;
    font-family: $font-body-thin;
    font-size: 1.5em;

    .thin-italic {
      font-family: $font-body-thin-italic;
    }
  }

  button {
    background-color: $color-primary;
    border-color: $color-primary-dk;
    font-size: 1.5em;
    padding: 10px 30px;
  }

  .light-text {
    font-family: $font-body-light;
  }

  .bold-italic-text {
    font-family: $font-header-bold-italic;
  }
}
