.clients {
  padding-top: 20px;
  padding-bottom: 50px;
  color: #586368;
  background-color: white;

  h2 {
    font-family: RalewayLight;
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 20px;
  }

}
