.contact {
  color: white;
  background-color: #586368;
  padding: 50px 0px;

  .form-side {
    
  }

  h2 {
    font-family: RalewayBold;
    font-size: 2em;
  }

  label {
    font-family: RalewayThin;
  }

}
