.offerings {
  position: relative;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #efefef;
  color: $color-font-lt;

  .darker {
    color: $color-font-dk;
  }

  .service-icon {
    i {
      color: #34434B;
    }
  }

  h2 {
    color: #34434B;
    font-size: 1.8em;
    font-family: $font-header-bold;
  }

  p {
    font-size: 1.5em;
    font-family: $font-body-light;
  }

  .teaching-status {
    font-size: 0.8em;
    i {
      color: green;
    }
  }
}

.flash {
   animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: green;}
    to {color: lighten(green, 8%);}
}
