.translate {
  position: relative;

  span {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .korean {

  }

  .english {

  }
}

/*FadeIn*/
.fadeIn{
	display: inline;
	text-indent: 8px;
}
.fadeIn span{
  color: #00abe9;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.fadeIn span:nth-child(1){
	animation: fadeEffect 5s linear 1 0s;
	-ms-animation: fadeEffect 5s linear 1 0s;
	-webkit-animation: fadeEffect 5s linear 1 0s;
}
.fadeIn span:nth-child(2){
  animation: fadeEffectIn 5s linear 1 1.5s;
	-ms-animation: fadeEffectIn 5s linear 1 1.5s;
	-webkit-animation: fadeEffectIn 5s linear 1 1.5s;
}

/*FadeIn Animation*/
@-moz-keyframes fadeEffect{
	0% { opacity: 1; }
	5% { opacity: 1; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeEffect{
	0% { opacity: 1; }
	5% { opacity: 1; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes fadeEffect{
	0% { opacity: 1; }
	5% { opacity: 1; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

@-moz-keyframes fadeEffectIn{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(0px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
  100% { opacity: 1; -moz-transform: translateY(0px); }
}
@-webkit-keyframes fadeEffectIn{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(0px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-ms-keyframes fadeEffectIn{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(0px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
  100% { opacity: 1; -ms-transform: translateY(0px); }
}
