$color-primary: #C6AE7C;
$color-primary-dk: darken($color-primary, 5%);

$color-secondary: #1F494D;

$color-font-dk: #34434B;
$color-font-lt: #586368;

$font-header-bold: RalewayBold;
$font-header-bold-italic: RalewayBoldItalic;

$font-body-light: RalewayLight;

$font-body-thin: RalewayThin;
$font-body-thin-italic: RalewayThinItalic;
